{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include 'link.html' %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Store",
      "name": "Adiba Interiors ",
      "description": "Bienvenue Chez Adiba Interiors",
      "alternateName": "Adiba Interiors", "url": "{{ request.build_absolute_uri }}"
  }
  </script>
</head>
<body>
    <div id="contenaire-parent" class="w-full mx-auto     shadow-lg" style="background-color:#EDE8E8">
    <header id="en-tete" class=" sticky top-0 z-50" >

            {% include 'entete.html'%}

    </header>
    <main class="flex  flex-col gap-0 grow items-center justify-center px-4"
        style="; font-family: 'Poppins', sans-serif;">
  <div class="flex flex-col items-center justify-center gap-10 my-24 w-full grow">

    <h1 class="font-bold text-2xl md:text-5xl text-center ">{{ t.page_aboutus.title }}</h1>

    <div class="w-3/4 py-3 px-5 border-2 border-black overflow-hidden bg-white leading-relaxed text-lg">

      {{ t.page_aboutus.intro }}<br>
      {{ t.page_aboutus.sublime }}<br><br>

      <b>{{ t.page_aboutus.heritage_title }}</b><br>
      {{ t.page_aboutus.heritage_text }}<br><br>
      {{ t.page_aboutus.proud_text }}<br><br>

      <b>{{ t.page_aboutus.mission_title }}</b><br>
      {{ t.page_aboutus.mission_text }}<br><br>

      <b>{{ t.page_aboutus.values_title }}</b><br>
      <ul class="pl-6 list-disc">
        {% for value in t.page_aboutus.values %}
          <li>{{ value }}</li>
        {% endfor %}
      </ul><br><br>

      {{ t.page_aboutus.conclusion }}

    </div>
  </div>
</main>



             {% include 'footer.html' %}

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




</body>

</html>