    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenue Chez Adiba Interiors">
    <meta property="og:title" content="Adiba Interiors">
    <meta property="og:description" content="{{ config_generale.seo_description }}">
    <title>Adiba Interiors</title>
    <link rel="icon" type="image/png" href="media/static/images/img.png">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
