{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
   {% include 'link.html' %}

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Store",
      "name": "Adiba Interiors ",
      "description": "Bienvenue Chez Adiba Interiors",
      "alternateName": "Adiba Interiors",
      "url": "{{ request.build_absolute_uri }}"
    }
    </script>
</head>
<body>
<div id="contenaire-parent" class="w-full mx-auto shadow-lg" style="background-color:#EDE8E8">

    <!-- HEADER -->
    <header id="en-tete" class="sticky top-0 z-50">
        {% include 'entete.html'%}
    </header>

    <!-- MAIN -->
    <main class="flex flex-col gap-0 grow items-center justify-center px-4"
          style="font-family: 'Poppins', sans-serif;">

        <div class="flex flex-col items-center justify-center gap-10 my-10 w-full grow">
            {% include 'messages.html' %}

            <!-- Barre de recherche -->
            {% include 'barre_recherche.html' %}

            <!-- Titre + intro -->
            <h1 class="font-bold text-2xl md:text-5xl text-center">
                {{ t.page_recherche.title }}
            </h1>
            <p class="text-center text-lg">
                {{ t.page_recherche.intro }}
            </p>

            <!-- Section categories Desktop -->

                {% include 'search/categorie.html' %}
              {% include 'search/produit.html' %}
            {% include 'search/produit_promo.html' %}


            <!-- Section Mobile -->


        </div>
    </main>

    <!-- FOOTER -->
    {% include 'footer.html' %}

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
